body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.circle{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
}
.circle:hover{
    z-index: 1;
}
.circle:nth-child(1){
    background:url("https://bit.ly/2P5GNw8");
    background-attachment: fixed;
    clip-path: circle(100px at 0 0);
}
.circle:nth-child(1):hover{
    clip-path: circle(1200px at 0 0);
}
.circle:nth-child(2){
    background:url("https://bit.ly/2KpSUW9");
    background-attachment: fixed;
    clip-path: circle(100px at 100% 0);
}
.circle:nth-child(2):hover{
    clip-path: circle(1200px at 100% 0);
}
.circle:nth-child(3){
    background:url("https://bit.ly/2Ur38Kw");
    background-attachment: fixed;
    clip-path: circle(100px at 0 100%);
}
.circle:nth-child(3):hover{
    clip-path: circle(1200px at 0 100%);
}
.circle:nth-child(4){
    background:url("https://bit.ly/2D4U1UW");
    background-attachment: fixed;
    clip-path: circle(100px at 100% 100%);
}
.circle:nth-child(4):hover{
    clip-path: circle(1200px at 100% 100%);
}

/*logo*/
.box-body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #f3f3f3;
}
.box{
    position: relative;
    width: 800px;

}
.box h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding:0;
    width: 100%;
    text-align: center;
    font-size: 10em;
    text-transform: uppercase;
    text-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.box h1:nth-child(2){
    background: #f3f3f3;
    color: #fff;
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}
.box h1:nth-child(2):hover{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.box h1:nth-child(1):hover ~ h1{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
}
