

ul#nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}
#list{
  float: left;
}
#nav1{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-size: cover;
}
.product-grid{
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 1px solid white;
  
}
.product-grid::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.product-grid:hover::before{
  background-color: rgba(0, 0, 0, 0.75);
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
}
.product-grid .product-image img{
  width: 100%;
  height: auto;
  margin-top: 10%;
}
.product-grid .product-image a{
  display: block;
}
.product-display-label{
  color:white;
  background-color: #000;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 8px 12px;
  border-radius: 5px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.product-grid .social{
  width: 100%;
  padding: 30px 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
}
.product-grid .social li{
  display: inline-block;
  opacity: 0;
  transform: translateY(300%);
  transition: all 0.5s ease 0s;
}
.product-grid .social li:nth-child(2){
  transition-delay: 0.05s;
}
.product-grid .social li:nth-child(3){
  transition-delay: 0.13s;
}
.product-grid .social li:nth-child(4){
  transition-delay: 0.13s;
}
.product-grid .social li:nth-child(5){
  transition-delay: 0.05s;
}
.product-grid .social li:nth-child(6){
  transition-delay: 0.16s;
}
.product-grid .social li:nth-child(7){
  transition-delay: 0.16s;
}
.product-grid .social li:nth-child(8){
  transition-delay: 0.16s;
}
.product-grid:hover .social li{
  opacity: 1;
  transform:translateY(0);
}
.product-grid .social li a{
  color: #000;
  background-color: #fff;
  line-height: 50px;
  width:50px;
  height:50px;
  margin: 0 2px 10px;
  border-radius:50%;
  display: block;
  position: relative;
  z-index: 2;
  transition: all 0.3s;
}
.product-grid .social li a:hover{
  color: white;
  background-color: orange;
}
.product-grid .product-content{
  padding: 18px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.product-grid .title{
  font-size: 17px;
  font-weight: 500;
  margin: 0,0,10px,0;
}
.product-grid .title a{
  color: #000;
}
.product-grid .title a:hover{
  color: #fa8231;
}
.product-grid .price{
  color: #fa8231;
}
img#resize{
  height: 230px;
}
img#reesize{
  height: 198px;
}
img#fit{
  height: 205px;
}
img#img2{
  height: 190px;
  width: 216px;
}

main {
  flex: 1 0 auto;
}


.topnav {
  background-color: blue;
  overflow: hidden;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color:black;
}

.topnav a.active {
  background-color:blue;
  color: white;
}


.page-footer{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 1336px;
  height: 270px:
}