*{

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.team-section{

  text-align: center;
  background: #34495e;
  padding:60px;
}
.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color:white;

}
.border{
  display: block;
  margin: auto;
  width:160px;
  height: 3px;
  background:#3498db;
  margin-bottom: 40px;
}
.ps a{
  display: inline-block;
  margin: 0 30px;
  width:160px;
  overflow: hidden;
  border-radius: 50%;
}
.ps a img{
  width:100%;
  filter:grayscale(100%);
  transition: 0.4s all;
}
.ps a:hover > img{
  filter: none
}
.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white
  text-align:justify;
  height:0;
  overflow: hidden;

}
.section:target{
  height: auto;
}
.name{
  color:white;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px

}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0088cc;
  color: white;